* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f5f9;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(67, 89, 113, 0);
}

a {
  text-decoration: none;
  color: black;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #717174 #f7f6f4;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f7f6f4;
}

*::-webkit-scrollbar-thumb {
  background-color: #717174;
  border-radius: 20px;
  border: 3px solid #f7f6f4;
}
